<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页左侧导航</title>
<link rel="stylesheet" type="text/css" href="../static/css/public.css" />
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/public.js"></script>
<head></head>

<body id="bg">
	<!-- 左边节点 -->
	<div class="container">
		<div class="leftsidebar_box">
			<dl class="system_log">
				<dt>
					<img class="icon1" src="../static/images/coin07.png" />
                    <img class="icon2" src="../static/images/coin08.png" /> 信息管理
                    <img class="icon3" src="../static/images/coin19.png" />
                    <img class="icon4" src="../static/images/coin20.png" />
				</dt>
                <dd>
                    <img class="coin11" src="../static/images/coin111.png" />
                    <img class="coin22" src="../static/images/coin222.png" />
                    <a class="cks" href="/life/ " target="main">生活信息查询</a>
                    <img class="icon5" src="../static/images/coin21.png" />
                </dd>
                <dd>
                    <img class="coin11" src="../static/images/coin111.png" />
                    <img class="coin22" src="../static/images/coin222.png" />
                    <a class="cks" href="/p1/ " target="main">个人信息管理</a>
                    <img class="icon5" src="../static/images/coin21.png" />
                </dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="../static/images/coin03.png" />
                    <img class="icon2" src="../static/images/coin04.png" /> 学习信息
                    <img class="icon3" src="../static/images/coin19.png" />
                    <img class="icon4" src="../static/images/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="../static/images/coin111.png" />
                    <img class="coin22" src="../static/images/coin222.png" />
                    <a href="/study_course_program/" target="main" class="cks">培养方案
                    </a><img class="icon5" src="../static/images/coin21.png" />
				</dd>
                <dd>
					<img class="coin11" src="../static/images/coin111.png" />
                    <img class="coin22" src="../static/images/coin222.png" />
                    <a href="/study_course_info/" target="main" class="cks">课程信息
                    </a><img class="icon5" src="../static/images/coin21.png" />
				</dd>
                <dd>
					<img class="coin11" src="../static/images/coin111.png" />
                    <img class="coin22" src="../static/images/coin222.png" />
                    <a href="/study_course_test/" target="main" class="cks">考试信息
                    </a><img class="icon5" src="../static/images/coin21.png" />
				</dd>
                <dd>
					<img class="coin11" src="../static/images/coin111.png" />
                    <img class="coin22" src="../static/images/coin222.png" />
                    <a href="/study_course_score/" target="main" class="cks">成绩查询
                    </a><img class="icon5" src="../static/images/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="../static/images/coinL1.png" />
                    <img class="icon2" src="../static/images/coinL2.png" /> 账户管理
                    <img class="icon3" src="../static/images/coin19.png" />
                    <img class="icon4" src="../static/images/coin20.png" />
				</dt>
                <dd>
                    <img class="coin11" src="../static/images/coin111.png"/>
                    <img class="coin22" src="../static/images/coin222.png"/>
                    <a href="/graduate_edu_info/" target="main" class="cks">升学信息管理</a>
                    <img class="icon5" src="../static/images/coin21.png"/>
                </dd>
                    <dd><img class="coin11" src="../static/images/coin111.png"/>
                    <img class="coin22" src="../static/images/coin222.png"/>
                    <a class="cks" href="/graduate_job_info/" target="main">工作信息管理
                    </a><img class="icon5" src="../static/images/coin21.png"/>
                </dd>
                <dd>
                    <img class="coin11" src="../static/images/coin111.png"/>
                    <img class="coin22" src="../static/images/coin222.png"/>
                    <a href="/graduate_return/" target="main" class="cks">返校申请
                    </a><img class="icon5" src="../static/images/coin21.png"/>
                </dd>
			</dl>

            <dl class="system_log">
				<dt><img class="icon1" src="../static/images/coin07.png" />
                    <img class="icon2" src="../static/images/coin08.png" /> 信息管理
                    <img class="icon3" src="../static/images/coin19.png" />
                    <img class="icon4" src="../static/images/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="../static/images/coin111.png" />
                    <img class="coin22" src="../static/images/coin222.png" />
                    <a href="/change_info/" target="main" class="cks">个人信息管理</a>
                    <img class="icon5" src="../static/images/coin21.png" />
				</dd>
			</dl>
            <dl class="system_log">
				<dt>
					<img class="icon1" src="../static/images/coin03.png" />
                    <img class="icon2" src="../static/images/coin04.png" /> 信息查询
                    <img class="icon3" src="../static/images/coin19.png" />
                    <img class="icon4" src="../static/images/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="../static/images/coin111.png" />
                    <img class="coin22" src="../static/images/coin222.png" />
                    <a class="cks" href="/applicant_test/" target="main">考试信息查询</a>
                    <img class="icon5" src="../static/images/coin21.png" />
				</dd>
			</dl>
		</div>

	</div>
</body>
</html>
