<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html>

<!-- Head -->
<head>

	<title>厦门大学信息系统</title>

	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->

	<!-- Style --> <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all">



</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>厦门大学信息系统</h1>

	<div class="container w3layouts agileits">
		<div class="login w3layouts agileits">
			<h2>登 录</h2>
			<form action="#" method="post">
				<input type="text" Name="Userame" id="username_login" placeholder="用户名" required="">
				<input type="password" Name="Password" id="password_login" placeholder="密码" required="">
			</form>
			<ul class="tick w3layouts agileits">
				<li>
					<input type="checkbox" id="brand1" value="">
					<label for="brand1"><span></span>记住我</label>
				</li>
			</ul>
			<div class="send-button w3layouts agileits">
				<form>
					<input type="button" id="login" value="登 录">
				</form>
                <span style="color: white" id="notice_login"></span>
			</div>
			<a href="#">忘记密码?</a>
{#			<div class="social-icons w3layouts agileits">#}
{#				<p>- 其他方式登录 -</p>#}
{#				<ul>#}
{#					<li class="qq"><a href="#">#}
{#					<span class="icons w3layouts agileits"></span>#}
{#					<span class="text w3layouts agileits">QQ</span></a></li>#}
{#					<li class="weixin w3ls"><a href="#">#}
{#					<span class="icons w3layouts"></span>#}
{#					<span class="text w3layouts agileits">微信</span></a></li>#}
{#					<li class="weibo aits"><a href="#">#}
{#					<span class="icons agileits"></span>#}
{#					<span class="text w3layouts agileits">微博</span></a></li>#}
{#					<div class="clear"> </div>#}
{#				</ul>#}
{#			</div>#}
			<div class="clear"></div>
		</div>
		

		<div class="register w3layouts agileits">
			<h2>注 册</h2>
			<form action="#" method="post">
				<input type="text" Name="Name" placeholder="用户名" required="" id="username_reg">
				<input type="text" Name="Email" placeholder="邮箱" required="" id="email_reg">
				<input type="password" Name="Password" placeholder="密码" required="" id="password_reg">
				<input type="password" Name="Confirm Password" placeholder="确认密码" required="" id="con_password_reg">
			</form>
			<div class="send-button w3layouts agileits">
				<form>
					<input type="button" value="注册" id="register_btn">
				</form>
			</div>
            <span style="color: white" id="notice"></span>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>

	</div>

	<div class="footer w3layouts agileits">
	</div>
<div style="text-align:center;">
</div>
</body>
<!-- //Body -->

<script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
<script type="text/javascript">
    //验证注册合法性
    function check_username() {
        user_name = $('#username_reg').val(); //$是getelementbyid的一种简便写法
        if($.trim(user_name)==''||$.trim(user_name)==null){
            $('#notice').html('用户名不能为空');
            return false;
        }
        else{
            $('#notice').html('');
            flag = true;
            $.ajax({
                'type': 'POST',
                'url': '{% url 'system:unique' %}',
                'data': {
                    'csrfmiddlewaretoken': $.cookie('csrftoken'),
                    'info': user_name,
                    'check_type': 'username'
                },
                'dataType': 'json',
                'success': function (result) {
                    if(result.code==400){
                        flag = false;
                        $('#notice').html('该用户名已存在！');
                    }
                },
                'error': function (result) {
                    console.log(result);
                }
            })
            return flag;
        }
    }
    function check_email() {
        email = $('#email_reg').val();
        var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
        if($.trim(email)==''||$.trim(email)==null){
            $('#notice').html('邮箱不能为空');
            return false;
        }
        else if(!reg.test(email)){
            $('#notice').html('请输入正确格式的邮箱');
            return false;
        }
        else{
            $('#notice').html('');
            flag = true;
            $.ajax({
                'type': 'POST',
                'url': '{% url 'system:unique' %}',
                'data': {
                    'csrfmiddlewaretoken': $.cookie('csrftoken'),
                    'info': email,
                    'check_type': 'email'
                },
                'dataType': 'json',
                'success': function (result) {
                    if(result.code==400){
                        flag = false;
                        $('#notice').html('该邮箱已存在！');
                    }
                },
                'error': function (result) {
                    console.log(result);
                }
            })
            return flag;
        }
    }
    function check_password() {
        pass_word = $('#password_reg').val();
        if ($.trim(pass_word)==''||$.trim(pass_word)==null){
            $('#notice').html('密码不能为空');
            {#alert('密码不能为空');#}
            return false;
        }
        else{
            $('#notice').html('');
            return true;
        }
    }
    function check_confirm_password() {
        pass_word = $('#password_reg').val();
        confirm_pass_word = $('#con_password_reg').val();
        if ($.trim(confirm_pass_word)!=pass_word){
            $('#notice').html('密码不一致');
            return false;
        }
        else{
            $('#notice').html('');
            return true;
        }
    }
    $('#username_reg').on('blur', check_username);
    $('#email_reg').on('blur', check_email);
    $('#password_reg').on('blur', check_password);
    $('#con_password_reg').on('blur', check_confirm_password);
    
    //按钮点击后注册
    $('#register_btn').on('click', function () {
        var flag = check_username();
        if(!flag){
            return;
        }
        var flag = check_email();
        if(!flag){
            return;
        }
        var flag = check_password();
        if(!flag){
            return;
        }
        var flag = check_confirm_password();
        if(!flag){
            return;
        }
        user_name = $('#username_reg').val();
        email = $('#email_reg').val();
        password = $('#password_reg').val();
        $.ajax({
            'type': 'POST',
            'url': '{% url 'system:register' %}',
            'data': {
                'csrfmiddlewaretoken': $.cookie('csrftoken'),
                'username': user_name,
                'email': email,
                'password': password
            },
            'dataType': 'json',
            'success': function (result) {
                if(result.code==200){
                    alert('恭喜你，注册成功');
                    $('#username_reg').val('');
                    $('#email_reg').val('');
                    $('#password_reg').val('');
                    $('#con_password_reg').val('');
                }
            },
            'error': function (result) {
                console.log(result);
            }

        })
    })

    /* 实现登录功能
    * 1. 像注册一样在输入完成后验证用户名的合法性
    * 2. 按钮点击事件触发后捕获登录名和密码，发送给服务器，在数据库中进行查询，与数据库中账号密码一致则通过
    * 3. 通过后跳转至主界面*/
    //验证用户名不为空，且在数据库中存在
    function check_username_login() {
        user_name = $('#username_login').val(); //$是getelementbyid的一种简便写法
        if($.trim(user_name)==''||$.trim(user_name)==null){
            $('#notice_login').html('用户名不能为空');
            return false;
        }
        else{
            $('#notice_login').html('');
            flag = true;
            $.ajax({
                'type': 'POST',
                'url': '{% url 'system:unique' %}',
                'data': {
                    'csrfmiddlewaretoken': $.cookie('csrftoken'),
                    'info': user_name,
                    'check_type': 'username'
                },
                'dataType': 'json',
                'success': function (result) {
                    if(result.code==200){
                        flag = false;
                        $('#notice_login').html('该用户名不存在！');
                    }
                },
                'error': function (result) {
                    console.log(result);
                }
            })
            return flag;
        }
    }
    //用户名输入框焦点丢失事件，验证用户名是否为空，以及用户名是否存在
    $('#username_login').on('blur', check_username_login);

    $('#login').on('click', function () {
        var flag = check_username_login();
        if(!flag){
            return;
        }
        user_name = $('#username_login').val();
        password = $('#password_login').val();
        $.ajax({
            'type': 'POST',
            'url': '{% url 'system:login_check' %}',
            'data': {
                'csrfmiddlewaretoken': $.cookie('csrftoken'),
                'username': user_name,
                'password': password
            },
            'dataType': 'json',
            'success': function (result) {
                if(result.code==200){
                    window.location.href = '/layout/'
                }
                if(result.code==400){
                    $('#notice_login').html('用户名或密码错误');
                }
            }
        })
    })
</script>


</html>